@model Card_Resume_0._1.Models.User_Info

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script src="~/Scripts/denem.js"></script>
</head>
<body>
    <fieldset>
        <legend>
            KARTVİZİT FORMU
        </legend>
        @using (Html.BeginForm(new { htmlAttributes = new { @onsubmit = "return false" } }))
        {
            @Html.AntiForgeryToken()
            <table>
                <tr>
                    <td>Adınız Soyadınız : </td>
                    <td>
                        @Html.EditorFor(model => model.Name1, new { htmlAttributes = new { @onchange = "ad_esit(this)", @id = "name", @class = "name", @placeholder = "Adınızı ve Soyadınızı Giriniz" } })
                    </td>
                </tr>
                <tr>
                    <td>Telefonunuz :</td>
                    <td>
                        @Html.EditorFor(model => model.Tel1, new { htmlAttributes = new { @onchange = "tel_esit(this)", @id = "tel", @type = "text", @placeholder = "(__)(_______)" } })
                    </td>
                </tr>
                <tr>
                    <td>E-Posta Adresiniz : </td>
                    <td>
                        @Html.EditorFor(model => model.E_Posta1, new { htmlAttributes = new { @onchange = "eposta_esit(this)", @id = "eposta", @class = "text", @placeholder = "E-Posta Giriniz" } })
                    </td>
                </tr>
                <tr>
                    <td>LOGO:</td>
                    <td><input type="file" id="resim"></td>
                </tr>
                <tr>
                    <td>ADRESİNİZ : </td>
                    <td>
                        @Html.TextAreaFor(model => model.Adres1, new { @onchange = "adres_esit(this)", @id = "adres", @cols = "40", @rows = "10", @name = "adres" })
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" id="top" value="Yazdır"></td>
                </tr>
            </table>
        }
        </fieldset>
    <!-- KARTVİZİT ARKA-->
    <div id=sayfa>
        <div class="ana">
            <div class="üstsol"></div>
            <div class="üstsağ"></div>
            <div class="logo"></div>
            <div class="logo1"></div>
            <div class="alt"> </div>
            <div class="renkalt"> </div>
        </div>

        <!--KARTVİZİT ÖN-->
        <div class="anaön">

            <div class="önsekil1"></div>
            <div class="önsekil2"></div>
            <div class="önsekil3"></div>
            <div class="önsekil4"></div>
            <div class="şablon">
                <img src="~/Content/img/call.png" />
                <img src="~/Content/img/address.png" />
                <img src="~/Content/img/home.png" />
            </div>

            <div class="person">
                <input type="text" id="name1"><br>
            </div>                           

            <input type="text" id="tel1"><br>
            <input type="text" id="eposta1"><br>
            <textarea type="text2" id="adres1" style="resize: none"></textarea>                                                               
        </div>
    </div>
</body>
</html>