@model Card_Resume_0._1.Views.Home.PerInfo

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" type="text/css" href="denem.css">
    <script src="java.js" type="text/javascript"></script>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>PerInfo</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label>Adınız Soyadınız :  </label>
                @Html.EditorFor(model => model.Name1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name1, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label>E-Posta Adresiniz :  </label>
                @Html.EditorFor(model => model.E_Posta1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.E_Posta1, "", new { @class = "text-danger" })
            </div>

            <div class="form-group"> 
                <label>Telefonunuz :  </label>
                @Html.EditorFor(model => model.Tel1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tel1, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label>ADRESİNİZ : </label>
                @Html.EditorFor(model => model.Adres1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Adres1, "", new { @class = "text-danger" })
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
        }


        <!-- KARTVİZİT ARKA-->
        <div id=sayfa>
            <div class="ana">
                <div class="üstsol"></div>
                <div class="üstsağ"></div>
                <div class="logo"></div>
                <div class="logo1"></div>
                <div class="alt"> </div>
                <div class="renkalt"> </div>
            </div>
            <!--KARTVİZİT ÖN-->
            <div class="anaön">
                <div class="önsekil1"></div>
                <div class="önsekil2"></div>
                <div class="önsekil3"></div>
                <div class="önsekil4"></div>
                <div class="şablon">
                    <img src="image/call.png" />
                    <img src="image/address.png" />
                    <img src="image/home.png" />
                </div>
                <div class="person"> </div>
            </div>
        </div>
</body>
</html>